.experiment-canvas {
    padding: 20px 20px 0px 20px;

}

.caption {
   padding: 0px 60px;
}

rect.bar {
    fill: blue;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.bar text {
    font-size: 10px;
}